Repository aneoconsulting/ArmoniK, pull requests merged in 2023-03, with the labels that each got.

#916 docs: add new template
  .docs/.gitignore
  .docs/.npmrc
  .docs/README.md
  .docs/app.config.ts
  .docs/components/content/Mermaid.vue
  .docs/content/0.index.md
  .docs/content/1.guide/0.index.md
  .docs/content/1.guide/ClientLargeTasksDiagram.md
  .docs/content/1.guide/Happy-Flow-Diagram-Sequence.md
  .docs/content/1.guide/Partitionning.md
  .docs/content/1.guide/PollingAgentClientDiagram.md
  .docs/content/1.guide/_dir.yml
  .docs/content/1.guide/authentication-configuration-guide.md
  .docs/content/1.guide/debug.md
  .docs/content/1.guide/image-versions.md
  .docs/content/1.guide/nice-charts-howto.md
  .docs/content/1.guide/using-seq.md
  .docs/content/2.installation/0.index.md
  .docs/content/2.installation/1.local/_dir.yml
  .docs/content/2.installation/1.local/all-in-one-deploy-linux.md
  .docs/content/2.installation/1.local/all-in-one-deploy-powershell.md
  .docs/content/2.installation/1.local/k3s.md
  .docs/content/2.installation/2.aws/_dir.yml
  .docs/content/2.installation/2.aws/aws_k3s_deploy.md
  .docs/content/2.installation/2.aws/aws_kubeadm_deploy.md
  .docs/content/2.installation/_dir.yml
  .docs/content/2.installation/simple_tests.md
  .docs/nuxt.config.ts
  .docs/package.json
  .docs/pnpm-lock.yaml
  .docs/public/.nojekyll
  .docs/public/favicon.ico
  .docs/public/images/Tests/seq.png
  .docs/public/images/Tests/seq_auth.png
  .docs/public/images/installations/ports.png
  .docs/public/images/installations/wsl_armonik1.png
  .docs/public/images/installations/wsl_armonik2.png
  .docs/public/images/installations/wsl_armonik3.png
  .docs/public/images/installations/wsl_armonik4.png
  .docs/public/jupyter-notebooks/Architecture.ipynb
  .docs/renovate.json
  .docs/tokens.config.ts
  .docs/tsconfig.json
  .github/workflows/build_documentations.yml
  .github/workflows/deploy-docs.yml
  Documentation/.gitignore
  Documentation/api/.gitignore
  Documentation/api/index.md
  Documentation/articles/Tests/toc.yml
  Documentation/articles/installations/overview.md
  Documentation/articles/installations/toc.md
  Documentation/articles/toc.yml
  Documentation/docfx.json
  Documentation/templates/armonik/logo.svg
  Documentation/templates/armonik/styles/main.css
  Documentation/templates/mermaid/partials/scripts.tmpl.partial
  Documentation/toc.yml
Labels: Documentation

#932 Al/prevent perpetual diff caused by using the timestamp function
  infrastructure/quick-deploy/aws/all/common.tf
  infrastructure/quick-deploy/aws/ecr/locals.tf
  infrastructure/quick-deploy/aws/eks/locals.tf
  infrastructure/quick-deploy/aws/monitoring/locals.tf
  infrastructure/quick-deploy/aws/storage/locals.tf
  infrastructure/quick-deploy/aws/vpc/locals.tf
Labels: Infrastructure

#934 fix admin gui api/app/old map variable
  infrastructure/quick-deploy/aws/all/ecr.tf
  infrastructure/quick-deploy/aws/all/parameters.tfvars
Labels: Infrastructure

#929 ci: Update local host pipeline to use all in one deployment
  .github/workflows/deploy.yml
  infrastructure/quick-deploy/localhost/all/parameters.tfvars
Labels: CICD

#953 creation_date must be known at plan time
  infrastructure/quick-deploy/aws/all/common.tf
Labels: Bug

#949 provider produced inconsistant final plan
  infrastructure/modules/armonik/partitions-in-database.tf
Labels: Bug, Infrastructure
